<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We make you look good. - Shoptacle</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!--owl carousel-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/7d52882801.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--Nav Bar-->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">Shoptacle</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Download</a>
            </li>
        </ul> -->





  <!--NEW NAVBAR-->
  <header class="font">
    <section class="headertop">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">

          </div>
          <div class="col-lg-6 topRight">
            <a class="logintext" href="/login">Login / Register </a>
            <div class="socialIcon">
              <a href=""><i class="fab fa-facebook-square"></i></a>
              <a href=""><i class="fab fa-twitter-square"></i></a>
              <a href=""><i class="fab fa-google-plus-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Only navbar-->
    <nav class="navbar navbar-expand-lg  headerNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/welcome">Shoptacle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="newbar collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="newbar nav-link active" aria-current="page" href="/welcome">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="newbar nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="men">
                Men
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/men/top" id="top">Tops</a></li>
                <!-- <li><a class="dropdown-item" href="#">Casual Shirts</a></li> -->
                <li><a class="dropdown-item" href="/men/bottom" id="bottom">Bottoms</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="newbar nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="women">
                Women
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/women/top" id="top">Tops</a></li>
                <li><a class="dropdown-item" href="/women/bottom" id="bottom">Bottoms</a></li>

              </ul>
            </li>

          </ul>

          <form class="d-flex searchForm" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class=" btn btn-success " style="background-color: #011627; border:#011627"
              type="submit">Search</button>
          </form>
          <div class="rightSide">
            <a href="/addtocart"><i class="fa fa-shopping-cart"></i></a>
            <!-- <a href=""><i class="fa fa-heart-o"></i></a> -->
            <a href="/user"><i class="fa fa-user"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!--End-->