<%if(product[0].gender=='men'&&product[0].type=='top'){%>
  <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(0)">iVOC</a></li>
  <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(1)">NETPLAY</a></li>
  <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(2)">VAN HEUSEN</a></li>
  <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(3)">LOUIS PHILLIPPE</a></li>
  <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(4)">JAINISH</a></li>

  <%} else if (product[0].gender==='women' && product[0].type==='top' ) {%>
    <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(0)">tokyo talkies</a></li>
    <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(1)">sheel associates</a>
    </li>
    <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(2)">prettify</a></li>
    <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(3)">dmp fashion</a></li>
    <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(4)">dl fashion</a></li>
    <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(5)">sassafras</a></li>
    <%} else if (product[0].gender==='men' && product[0].type==='bottom' ) {%>
      <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(0)">john players</a></li>
      <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(1)">LEVI'S</a></li>
      <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(2)">louis phillippe</a>
      </li>
      <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(3)">DNMX</a></li>
      <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(4)">Indian Garage</a></li>
      <% } else if (product[0].gender==='women' && product[0].type==='bottom' ) {%>
        <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(0)">kotty</a></li>
        <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(1)">guti</a></li>
        <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(2)">tyffyn</a></li>
        <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(3)">zayla</a></li>
        <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(4)">vedant vastram</a>
        </li>
        <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(5)">roadster</a></li>
        <li><a class="dropdown-item Brandname" style="color: black" href="#" onclick="brandname(6)">lee tex</a></li>
        <% } %>